<section class="index-title">
    <h2><%- config.title %></h2>
    <div class="description"><%- config.description %></h3>
</section>
<header>
    <nav>
        <% let nav_idx = 0; %>
        <% for(link in theme.index.links) { %>
            <% nav_idx++ %>
            <%- nav_idx > 1 ? " | " : "" %><a href="<%- url_for(theme.index.links[link]) %>"><%- __(link) %></a>
        <% } %>
    </nav>
</header>
<div class="head-img">
    <%- image_tag('imgs/beach.jpg') %>
</div>
<article class="index-article">
    <div class="article-list">
        <% for (idx in page.posts.data) { %>
            <% let post = page.posts.data[idx] %>
            <% if(idx > 0) { %>
                <hr>
            <% } %>
            <div class="article-item"> 
                <div class="article-item-title">
                    <h1>
                        <a href="<%- url_for(post.path) %>">
                            <%= post.title %>
                        </a>
                    </h1>
                    <div class="info">
                        <% if (post.author) { %>
                            <span>
                                <%= post.author %> | 
                            </span>
                        <% } %>
                        <% if (post.date) { %>
                            <span>
                                <%= post.date.format("YYYY/MM/DD") %>
                            </span>
                        <% } %>
                    </div>
                </div>
                <div class="article-item-excerpt article">
                    <div>
                        <%- post.excerpt || post.content %>
                    </div>
                </div>
            </div>

            <div style="text-align: right;">
                <button type="button" class="read-more">
                    <a href="<%- url_for(post.path) %>">阅读更多</a>
                </button>
            </div>
        <% } %>
    </div>

    <%- partial('component/paginator', { total: site.posts.length }) %>
</article>
