<div class="index-header">
    <h1 class="index-title">
        <div id="index-title-box"><%= theme.index.title %></div>
    </h1>
    <p class="index-description">
        <% if (config.subtitle){ %>
            <%- config.subtitle %>
        <% } %>
    </p>
</div>

<%# 文章列表 %> 
<div class="article-container">
<% page.posts.each(function(item){ %>
<article class="excerpt-container blog-shadow">
    <h1 class="excerpt-title">
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title %>
        </a>
    </h1>
    <p class="excerpt-meta">
        <span><%= item.date.format(config.date_format) %></span>
        <span>
            <% if(item.author) { %>
                | <%- item.author %>
            <% } %>
        </span>
    </p>
    <div class="excerpt"> <%- item.excerpt || item.content %> </div>
    <div class="excerpt-more transition">
        <a href="<%- config.root %><%- item.path %>">
            <%= theme.index.excerpt.text %> 
        </a>
    </div>
</article>
<% }); %>
</div>

<%# test %> 
<%# 分页 %>
<aside class="excerpt-pagination">
    <ul>
        <% if (page.prev){ %>
            <li class="page-item"><a class="page-link" href="<%- config.root %><%- page.prev_link %>">Previous</a></li>
        <% } %>
        <% if (page.next){ %>
            <li class="page-item"><a class="page-link" href="<%- config.root %><%- page.next_link %>">Next</a></li>
        <% } %>
    </ul>
    <div><a href="<%- page.current_url %>">当前页数<%- page.current %></a> / 总页数<%- page.total %></div>
</aside>

