<%
    page.title = config.title
%>
<div class="index-header">
    <h1 class="index-title">
        <div id="index-title-box"><%= theme.index.title %></div>
    </h1>
    <p class="index-description">
        <% if (config.subtitle){ %>
            <%- config.subtitle %>
        <% } %>
    </p>
</div>

<%# 文章列表 %> 
<div class="article-container">
<% page.posts.each(function(item){ %>
<article class="excerpt-container">
    <h1 class="excerpt-title">
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title %>
        </a>
    </h1>
    <p class="excerpt-meta">
        <span>
            <% item.date.locale(config.language) %>
            <%= item.date.format(config.date_format) %>
            | 
        </span>
        <span>
            <% if(item.author) { %>
                <%- item.author %> · 
            <% } %>
        </span>
        <span class="post-count"><%= __("postInfo.count", wordcount(item.content)) %>, </span>
        <span class="post-count"><%= __("postInfo.need", min2read(item.content)) %></span>  
    </p>
    <% if(item.reprint) { %>
        <p class="reprint post-alert">
            <span class="reprint-badge transition">
                <%= __("reprint.reprint_info") %> 
            </span>
            <% if(item.reprintLink) { %>
                <a href="<%= item.reprintLink %>"><%= __("reprint.reprint_link") %></a>
            <% } %>
        </p>
    <% } %>
    
    <div class="excerpt"> <%- item.excerpt || item.content %> </div>
    <div class="excerpt-more transition">
        <a href="<%- config.root %><%- item.path %>">
            <%= theme.index.excerpt.text %> 
        </a>
    </div>
</article>
<hr/>
<% }); %>
</div>
<%# 分页 %>
<%- partial('components/pagination', {item: page}) %>