<div class="index-header">
    <h1 class="index-title">
        <div id="index-title-box"><%= theme.index.title %></div>
    </h1>
    <p class="index-description">
        <% if (config.subtitle){ %>
            <%- config.subtitle %>
        <% } %>
    </p>
</div>

<%# 文章列表 %> 
<div class="article-container">
<% page.posts.each(function(item){ %>
<article class="excerpt-container blog-shadow">
    <h1 class="excerpt-title">
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title %>
        </a> 
    </h1>
    <p class="excerpt-meta">
        <span><%= item.date.format(config.date_format) %></span>
        <span>
            <% if(item.author) { %>
                | <%- item.author %>
            <% } %>
        </span>
        <span class="post-count"><%= wordcount(item.content) %>字</span>
        <span class="post-count"><%= min2read(item.content) %>分钟</span>
    </p>
    <div class="excerpt"> <%- item.excerpt || item.content %> </div>
    <div class="excerpt-more transition">
        <a href="<%- config.root %><%- item.path %>">
            <%= theme.index.excerpt.text %> 
        </a>
    </div>
</article>
<% }); %>
</div>

<%# test %> 
<%# 分页 %>
<aside class="excerpt-pagination">
    <span class="excerpt-pagination-prev">
    <% if (page.prev){ %>
        <a class="page-link" href="<%- config.root %><%- page.prev_link %>"><%= __('index.pagination.prev') %></a>
    <% } %>
    </span>
    <span class="excerpt-pagination-input">
        <input type="text" id="pages" value="<%- page.current %>" onkeydown="jump_pages()" placeholder="jump">
        <label for="pages">/<%- page.total %></label>
    </span>
    <span class="excerpt-pagination-prev">
    <% if (page.next){ %>
        <a class="page-link" href="<%- config.root %><%- page.next_link %>"><%= __('index.pagination.next') %></a>
    <% } %>
    </span>
    <span id="root-url" style="display: none;"><%- config.root %></span>
    <script>
        /**
        * 主页面跳转
        */
        const index_pages = document.getElementById("pages");
        const root_url = document.getElementById("root-url").textContent.trim();
        function jump_pages(e){
            let event = window.event || e;
            if(event.keyCode === 13) { // enter键
                if(index_pages.value === '1' || index_pages.value === '0') {
                    window.location.href = root_url;
                } else {
                    window.location.href = root_url + '/page/' + index_pages.value;
                }
            }
        }
    </script>
</aside>

