
<html>
    <%- partial('_partial/head') %>
<body>
    <%- partial('_partial/menu') %>
    <div class="container">
        <%- partial('_partial/header') %>
        <div class="row">

            <div class="col-sm-8 blog-main">
                <%- body %>
            </div>

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <%- partial('_partial/sidebar') %>
            </div>
        </div>
    </div>
<%- partial('_partial/footer') %>


    <%- partial('_partial/after-footer') %>
</body>
</html>