
<html lang="zh">
    <%- partial('_partial/head') %>
<body>
    <%- partial('_partial/menu') %>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                <%- body %>
            </div>
            <div class="col-sm-4 col-sm-offset-1 blog-sidebar">
                <%- partial('_partial/sidebar') %>
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <% if (theme.utterance && theme.utterance.enable){ %>
        <%- partial('_partial/comments/utteranc') %>
    <% } %>
    <% if (theme.gittalk && theme.gittalk.enable){ %>
        <%- partial('_partial/comments/gittalk') %>
    <% } %>
    </div>
<%- partial('_partial/floatbar') %>
<%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>

<script>

</body>
</html>