<div class="page-body page-shadow">
    <section class="page">
        <div class="page-title" <% if(page.font) { %> style="font: <%= page.font %> <% } %>">
            <%- page.title || page.link %>
        </div>
        <p class="blog-page-info">
            <span><%= page.date.format(config.date_format) %></span>
            <% if(page.author) { %>
            | <span><%- page.author %></span>  
            <% } %>
        </p>
        <%- page.content %>

        <% if(page.comments) { %>
            <% if(theme.comments.utteranc.enable) { %>
            <script src="https://utteranc.es/client.js"
                repo="<%= theme.comments.utteranc.repo %>"
                issue-term="<%= page.title %>"
                theme="<%= theme.comments.utteranc.theme %>"
                crossorigin="anonymous"
                async>
            </script>
            <% } %>
            <% if(theme.comments.changyan.enable) { %>
            <div id="SOHUCS" sid="<%= hash(page.title) %>"></div>
            <script charset="utf-8" type="text/javascript" src="https://cy-cdn.kuaizhan.com/upload/changyan.js" ></script>
            <script type="text/javascript">
                window.changyan.api.config({
                    appid: '<%= theme.comments.changyan.appid %>',
                    conf: '<%= theme.comments.changyan.conf %>'
                });
            </script>
            <% } %>
            <% if(theme.comments.valine.enable) { %>
            <div id="vcomments"></div>
            <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
            <script>
                new Valine({
                    el: "#vcomments",
                    app_id: "<%= theme.comments.valine.app_id %>",
                    app_key: "<%= theme.comments.valine.app_key %>",
                    avatar: "<%= theme.comments.valine.avatar %>",
                    placeholder: "<%= theme.comments.valine.placeholderr %>",
                    visitor: "<%= theme.comments.valine.visitor %>", // 阅读量统计
                });
            </script>
            <% } %>
            <% if(theme.comments.disqus.enable) { %>
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = document.URL;
                        this.page.identifier = document.title;
                    };
                    (function() { 
                        var d = document, s = d.createElement('script');
                        s.src = '<%= theme.comments.disqus.mainJs %>';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                <a class="disqus-comment-count"></a>
                <script id="dsq-count-scr" src="<%= theme.comments.disqus.countJs %>" async></script>
            <% } %>
        <% } %>

    </section>
</div>
