<div class="post-body">
    <%# 文章 %> 
    <section class="post">
        <div class="post-title">
            <%- page.title || page.link %>
        </div>

        <p class="blog-post-info">
        <span><%= page.date.format(config.date_format) %></span>
        <% if(page.author) { %>
            <span><%- page.author %></span>  
        <% } %>
        <span class="post-count"><%= wordcount(page.content) %>字</span>
        <span class="post-count"><%= min2read(page.content) %>分钟</span>
        <span class="post-count"><%= config.language %></span>
        </p>

        <%- page.content %>

        <div class="post-alert">本博客所有文章均采用 <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a> 协议 ，转载请注明出处。</div>
        <hr />
        
        <div class="blog-tag-and-cate">
            <%- partial('components/tags', {item: page}) %>
            <%- partial('components/categories', {item: page}) %>
        </div>

        <div class="post-change">
            <div class="post-pre">
                <% if (page.prev){ %>
                    <a href="<%- url_for(page.prev.path) %>">
                        <svg viewBox="0 0 1024 1024" version="1.1" width="20" height="20">
                            <path d="M561.92 832a47.36 47.36 0 0 0 0-64l-256-256 256-256a47.36 47.36 0 1 0-64-64l-288.64 288.64A50.56 50.56 0 0 0 192 512a47.36 47.36 0 0 0 14.08 33.28L494.72 832a47.36 47.36 0 0 0 67.2 0z"></path>
                            <path d="M817.92 832a47.36 47.36 0 0 0 0-64.00000001l-256-255.99999999 256-255.99999999a47.36 47.36 0 1 0-64.00000001-64.00000001l-291.83999999 286.08A50.56 50.56 0 0 0 447.99999999 512a47.36 47.36 0 0 0 14.08000001 33.28L750.72 831.99999999a47.36 47.36 0 0 0 67.2 1e-8z"></path>
                        </svg>
                        <%- page.prev.title %>
                    </a>
                <% } %>
            </div>
            <div class="post-next">
                <% if (page.next){ %>
                    <a href="<%- url_for(page.next.path) %>">
                        <%- page.next.title %>
                        <svg viewBox="0 0 1024 1024" version="1.1" width="20" height="20">
                            <path d="M462.08 192a47.36 47.36 0 0 0 0 64l256 256-256 256a47.36 47.36 0 1 0 64 64l288.64-288.64A50.56 50.56 0 0 0 832 512a47.36 47.36 0 0 0-14.08-33.28L529.28 192a47.36 47.36 0 0 0-67.2 0z"></path>
                            <path d="M206.08 192a47.36 47.36 0 0 0 0 64l256 256-256 256a47.36 47.36 0 1 0 64 64l291.84-286.08A50.56 50.56 0 0 0 576 512a47.36 47.36 0 0 0-14.08-33.28L273.28 192a47.36 47.36 0 0 0-67.2 0z"></path>
                        </svg>
                    </a>
                <% } %>
            </div>
        </div>

        
    </section>
    <%# 目录 %> 
    <section class="post-toc transition" id="post-toc">
        <%- toc(page.content, {max_depth: 3}) %>
    </section>
    <span class="open-toc transition" id="open-toc">
        <svg viewBox="0 0 1088 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <path d="M638.434144 769.076746v-126.612002H513.101697v126.612002H402.484137a54.44508 54.44508 0 0 0 0 80.292098l131.53829 157.321331a61.418657 61.418657 0 0 0 85.346342 0.063978l131.346357-157.385309a54.381103 54.381103 0 0 0 0-80.292098H638.434144zM511.822142 252.840138v130.898513h126.612002V252.840138h110.681538c23.351885-23.031996 23.351885 3.518777 0-19.641175L618.984903 19.513219a60.714902 60.714902 0 0 0-84.83452 0l-134.225357 213.685744c-23.351885 23.095974-23.351885-3.454799 0 19.641175H511.822142zM63.977768 447.844374h1023.644283v127.955536H63.977768z"></path>
        </svg>
    </span>
</div>


