<aside class="toc-container">
    <!-- sticky toc -->
    <%- toc(page.content) %>
</aside>

<article class="markdown-container">
    <section>
        <h1>
            <span>
                <%- page.title %>
            </span>
        
            <div class="post-info">
                <span><%- page.author ? page.author + ' |' : "" %></span>
                <span>
                    <%- Math.round(page.content.length / 1000) + 'k字 • '  %>
                    <%- Math.round(page.content.length / 500) + '分钟'  %>
                </span>
            </div>
        </h1>
    </section>

    <section class="article">
        <%- page.content %>
    </section>

    <% if (page.tags.length > 0) { %>
        <section class="post-tag">
            <a href="<%- url_for('tags') %>"><i class="fa fa-tags"></i></a>
            <% for (tag of page.tags.data) { %>
                <a href="<%- url_for(tag.path) %>" class="tag-item">
                    <%- tag.name %>
                </a>
            <% } %>
        </section>
    <% } %>
    <% if (page.categories.length > 0) { %>
        <section class="post-cate">
            <a href="<%- url_for('categories') %>"><i class="fa fa-inbox"></i></a>
            <% for (cate of page.categories.data) { %>
                <a href="<%- url_for(cate.path) %>" class="cate-item">
                    <%- cate.name %>
                </a>
            <% } %>
        </section>
    <% } %>

    <section class="post-cc">
        <div class="post-cc-author">
            <span class="bold">作者：</span><%- mail_to(theme.email, config.author) %>
        </div>
        <div class="post-cc-link">
            <span class="bold">链接：</span><a href="<%- url_for(page.path) %>"><%- decodeURIComponent(page.permalink) %></a>
        </div>
        <div class="post-cc-source">
            <span class="bold">来源：</span><a href="<%- url_for('/') %>"><%- config.title %></a>
        </div>
        <div class="ppost-cc-declare">
            <span class="bold">版权声明: </span>本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a> 许可协议。著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。 
        </div>
    </section>

    <section class="flex-between" style="margin: 20px 0;">
        <div class="pre">
            <% if (page.prev){ %>
                <a href="<%- url_for(page.prev.path) %>" class="change-link">
                    <span class="icon"><i class="fa fa-angle-double-left"></i></span>
                    <span class="text">
                        <span class="identify">上一篇</span>
                        <span class="text-title"><%- page.prev.title %></span>
                    </span>
                </a>
            <% } %>
        </div>
        <div class="next">
            <% if (page.next){ %>
                <a href="<%- url_for(page.next.path) %>" class="change-link">
                    <span class="text">
                        <span class="identify" style="text-align: right;">下一篇</span>
                        <span class="text-title" style="text-align: right;"><%- page.next.title %></span>
                    </span>
                    <span class="icon"><i class="fa fa-angle-double-right"></i></span>
                </a>
            <% } %>
        </div>
    </section>

    <!-- comment -->
    <section class="comment-container">
        <!-- giscus -->
        <% if (page.giscus) { %>
            <script src="<%- theme.giscus.js %>"
                data-repo="<%- theme.giscus.repo %>"
                data-repo-id="<%- theme.giscus.repoId %>"
                data-category="<%- theme.giscus.category %>"
                data-category-id="<%- theme.giscus.categoryId %>"
                data-mapping="<%- theme.giscus.mapping %>"
                data-strict="<%- theme.giscus.strict %>"
                data-reactions-enabled="<%- theme.giscus.reactionsEnabled %>"
                data-emit-metadata="<%- theme.giscus.emitMetadata %>"
                data-input-position="<%- theme.giscus.inputPosition %>"
                data-theme="<%- theme.giscus.selfTheme ? theme.giscus.theme : 'https://cdn.jsdelivr.net/gh/can-dy-jack/giscus-theme-delicate@master/index.min.css' %>"
                data-lang="<%- theme.giscus.lang %>"
                data-loading="<%- theme.giscus.loading %>"
                crossorigin="anonymous"
                async>
            </script>
        <% } %>
    </section>
</article>



