<div class="post-body">
    <%# 文章 %> 
    <section class="post">
        <div class="post-title">
            <%- page.title || page.link %>
        </div>

        <p class="blog-post-info">
        <span><%= page.date.format(config.date_format) %></span>
        <% if(page.author) { %>
            <span><%- page.author %></span>  
        <% } %>

        <span class="post-count"><%= wordcount(page.content) %>字</span>
        <span class="post-count"><%= min2read(page.content) %>分钟</span>
        </p>

        <% if(page.reprint) { %>
        <p class="reprint post-alert">
            <span class="reprint-badge transition">
                <%= __("reprint.reprint_info") %>
            </span>
            <% if(page.reprintLink) { %>
                <a href="<%= page.reprintLink %>"><%= __("reprint.reprint_link") %></a>
            <% } %>
        </p>
        <% } %>

        <%- page.content %>

        <div class="blog-tag-and-cate">
            <%- partial('components/tags', {item: page}) %>
            <%- partial('components/categories', {item: page}) %>
        </div>

        <div class="post-share">
        <%= __('post.share') %>:
            <% if(theme.post.share.qq){ %>
            <span class="post-share-qq">
                <a rel="share" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=<%- url %>&title=<%- config.title %>&summary=<%- page.title %>">
                    <svg viewBox="0 0 24 24" width="1em" height="1em"><path fill-rule="evenodd" d="M4.869 10.997c-.06-.142-.091-.335-.091-.581 0-.149.041-.331.125-.547a1.81 1.81 0 0 1 .273-.503c-.007-.163.021-.36.086-.59.065-.231.15-.391.256-.48 0-1.035.352-2.108 1.054-3.22.702-1.113 1.528-1.893 2.477-2.34C10.105 2.247 11.335 2 12.74 2c1.01 0 2.02.205 3.03.614.373.156.714.335 1.026.535.31.201.58.41.808.625.228.216.437.47.627.76.19.29.349.564.478.825.13.26.253.575.37.943a18.116 18.116 0 0 1 .541 2.093l.011.055c.418.618.627 1.176.627 1.675 0 .104-.034.253-.103.446-.068.193-.103.335-.103.424 0 .008.006.02.018.04a.47.47 0 0 0 .04.055c.015.019.023.032.023.04.584.848 1.042 1.646 1.372 2.393.33.748.496 1.524.496 2.327 0 .32-.074.693-.222 1.117-.148.424-.359.636-.632.636a.394.394 0 0 1-.222-.084 1.19 1.19 0 0 1-.216-.195 2.992 2.992 0 0 1-.216-.29 3.738 3.738 0 0 1-.183-.296 35.001 35.001 0 0 1-.256-.486c-.008-.007-.02-.01-.035-.01l-.057.043c-.448 1.146-.949 1.976-1.503 2.49.152.148.385.291.7.43.316.137.577.292.786.462.209.171.344.413.405.726a.71.71 0 0 0-.046.179.405.405 0 0 1-.08.2c-.485.722-1.632 1.083-3.44 1.083-.401 0-.821-.034-1.258-.1a10.83 10.83 0 0 1-1.116-.224 53.69 53.69 0 0 1-1.19-.335 4.067 4.067 0 0 0-.262-.078 2.306 2.306 0 0 0-.524-.05 6.013 6.013 0 0 1-.455-.017c-.312.335-.796.577-1.453.726A8.679 8.679 0 0 1 8.606 22c-.266 0-.528-.006-.786-.017a14.033 14.033 0 0 1-1.06-.1 7.002 7.002 0 0 1-1.15-.23 2.457 2.457 0 0 1-.848-.446c-.247-.2-.37-.438-.37-.714 0-.297.038-.519.114-.664.076-.146.232-.326.467-.542a3.44 3.44 0 0 0 .461-.145c.224-.081.412-.126.564-.133.03 0 .083-.008.16-.023.015-.015.022-.03.022-.044l-.023-.034c-.364-.082-.774-.474-1.23-1.178-.456-.703-.733-1.285-.832-1.746l-.056-.034c-.03 0-.076.074-.137.223a2.48 2.48 0 0 1-.62.831c-.278.25-.572.389-.883.419h-.012c-.03 0-.053-.017-.068-.05-.015-.033-.034-.054-.057-.061C2.087 16.91 2 16.538 2 16.195c0-2.046.957-3.78 2.87-5.2l-.001.002z"></path></svg>
                </a>
            </span>
            <% } %>
            <% if(theme.post.share.weibo){ %>
            <span class="post-share-weibo">
                <a rel="share" href="https://service.weibo.com/share/share.php?&url=<%- url %>&title=<%- page.title %>">
                    <svg viewBox="0 0 24 24" width="1em" height="1em"><path fill-rule="evenodd" d="M17.286 11.55c-.856-.163-.448-.632-.448-.632s.836-1.387-.164-2.387c-1.244-1.244-4.262.164-4.262.164-1.142.346-.836-.164-.673-1.061 0-1.04-.367-2.814-3.447-1.754-3.06 1.04-5.69 4.732-5.69 4.732-1.836 2.447-1.591 4.323-1.591 4.323.448 4.181 4.895 5.324 8.341 5.589 3.63.285 8.525-1.244 10.014-4.406 1.49-3.16-1.223-4.405-2.08-4.568zM9.618 19.36c-3.61.163-6.527-1.652-6.527-4.059 0-2.406 2.917-4.323 6.527-4.487 3.61-.163 6.526 1.306 6.526 3.712 0 2.407-2.916 4.67-6.526 4.834zm-.714-6.975c-3.63.428-3.223 3.834-3.223 3.834s-.02 1.06.98 1.612c2.12 1.142 4.303.448 5.404-.96 1.101-1.427.469-4.894-3.161-4.486zm-.918 4.772c-.673.082-1.224-.306-1.224-.876 0-.572.49-1.163 1.163-1.224.775-.082 1.285.367 1.285.938s-.55 1.08-1.224 1.162zm2.142-1.815c-.245.164-.51.143-.633-.061-.142-.204-.081-.53.143-.693.265-.204.55-.143.673.061s.02.51-.183.693zm8.933-5.261a.59.59 0 0 0 .57-.51c0-.02.021-.041.021-.062.428-3.977-3.263-3.283-3.263-3.283a.592.592 0 0 0 0 1.183c2.651-.592 2.06 2.08 2.06 2.08 0 .326.265.592.612.592zm-.45-6.936c-1.264-.305-2.59-.05-2.956.031-.02 0-.062.016-.082.016-.02 0-.02.018-.02.018a.874.874 0 0 0-.633.835c0 .469.388.856.857.856 0 0 .469-.062.795-.184.306-.122 2.958-.082 4.283 2.12.714 1.612.306 2.693.265 2.876 0 0-.183.408-.183.837 0 .469.387.794.877.794.387 0 .734.02.816-.714h.02c1.407-5.032-1.734-6.954-4.038-7.485z"></path></svg>
                </a>
            </span>
            <% } %>
        </div>

        <% if(!page.reprint) { %>
            <div class="post-alert">本博客所有文章均采用 
            <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>
             协议 ，转载请注明出处。
            </div>
        <% } %>
        
        <hr />

        <% if(page.comments) { %>
            <% if(theme.comments.utteranc.enable) { %>
            <script src="https://utteranc.es/client.js"
                repo="<%= theme.comments.utteranc.repo %>"
                issue-term="<%= page.title %>"
                theme="<%= theme.comments.utteranc.theme %>"
                crossorigin="anonymous"
                async>
            </script>
            <% } %>
            <% if(theme.comments.changyan.enable) { %>
            <div id="SOHUCS" sid="<%= hash(page.title) %>"></div>
            <script charset="utf-8" type="text/javascript" src="https://cy-cdn.kuaizhan.com/upload/changyan.js" ></script>
            <script type="text/javascript">
                window.changyan.api.config({
                    appid: '<%= theme.comments.changyan.appid %>',
                    conf: '<%= theme.comments.changyan.conf %>'
                });
            </script>
            <% } %>
            <% if(theme.comments.valine.enable) { %>
            <div id="vcomments"></div>
            <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
            <script>
                new Valine({
                    el: "#vcomments",
                    app_id: "<%= theme.comments.valine.app_id %>",
                    app_key: "<%= theme.comments.valine.app_key %>",
                    avatar: "<%= theme.comments.valine.avatar %>",
                    placeholder: "<%= theme.comments.valine.placeholderr %>",
                    visitor: "<%= theme.comments.valine.visitor %>", // 阅读量统计
                });
            </script>
            <% } %>

            <% if(theme.comments.disqus.enable) { %>
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = document.URL;
                        this.page.identifier = document.title;
                    };
                    (function() { 
                        var d = document, s = d.createElement('script');
                        s.src = '<%= theme.comments.disqus.mainJs %>';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                <a class="disqus-comment-count"></a>
                <script id="dsq-count-scr" src="<%= theme.comments.disqus.countJs %>" async></script>
            <% } %>
        <% } %>
        
        <div class="post-change">
            <div class="post-pre">
                <% if (page.prev){ %>
                    <a href="<%- url_for(page.prev.path) %>">
                        <svg viewBox="0 0 1024 1024" version="1.1" width="20" height="20">
                            <path d="M561.92 832a47.36 47.36 0 0 0 0-64l-256-256 256-256a47.36 47.36 0 1 0-64-64l-288.64 288.64A50.56 50.56 0 0 0 192 512a47.36 47.36 0 0 0 14.08 33.28L494.72 832a47.36 47.36 0 0 0 67.2 0z"></path>
                            <path d="M817.92 832a47.36 47.36 0 0 0 0-64.00000001l-256-255.99999999 256-255.99999999a47.36 47.36 0 1 0-64.00000001-64.00000001l-291.83999999 286.08A50.56 50.56 0 0 0 447.99999999 512a47.36 47.36 0 0 0 14.08000001 33.28L750.72 831.99999999a47.36 47.36 0 0 0 67.2 1e-8z"></path>
                        </svg>
                        <%- page.prev.title %>
                    </a>
                <% } %>
            </div>
            <div class="post-next">
                <% if (page.next){ %>
                    <a href="<%- url_for(page.next.path) %>">
                        <%- page.next.title %>
                        <svg viewBox="0 0 1024 1024" version="1.1" width="20" height="20">
                            <path d="M462.08 192a47.36 47.36 0 0 0 0 64l256 256-256 256a47.36 47.36 0 1 0 64 64l288.64-288.64A50.56 50.56 0 0 0 832 512a47.36 47.36 0 0 0-14.08-33.28L529.28 192a47.36 47.36 0 0 0-67.2 0z"></path>
                            <path d="M206.08 192a47.36 47.36 0 0 0 0 64l256 256-256 256a47.36 47.36 0 1 0 64 64l291.84-286.08A50.56 50.56 0 0 0 576 512a47.36 47.36 0 0 0-14.08-33.28L273.28 192a47.36 47.36 0 0 0-67.2 0z"></path>
                        </svg>
                    </a>
                <% } %>
            </div>
        </div>

    </section>
    <%# 目录 %> 
    <section class="post-toc transition" id="post-toc">
        <%- toc(page.content, {max_depth: 3}) %>
    </section>
    <span class="open-toc transition" id="open-toc">
        <svg viewBox="0 0 1088 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
            <path d="M638.434144 769.076746v-126.612002H513.101697v126.612002H402.484137a54.44508 54.44508 0 0 0 0 80.292098l131.53829 157.321331a61.418657 61.418657 0 0 0 85.346342 0.063978l131.346357-157.385309a54.381103 54.381103 0 0 0 0-80.292098H638.434144zM511.822142 252.840138v130.898513h126.612002V252.840138h110.681538c23.351885-23.031996 23.351885 3.518777 0-19.641175L618.984903 19.513219a60.714902 60.714902 0 0 0-84.83452 0l-134.225357 213.685744c-23.351885 23.095974-23.351885-3.454799 0 19.641175H511.822142zM63.977768 447.844374h1023.644283v127.955536H63.977768z"></path>
        </svg>
    </span>
</div>

