<% 
    page.title = __("tag") + " - " + page.tag;
%>

<section class="tag-container">
    <h1 class="tag-title"><%- page.tag %> - 共<%- page.posts.length %>篇文章</h1>
    <article class="tag-list">
        <% for (post of page.posts.data) { %>
            <a href="<%- url_for(post.path) %>" class="tag-item">
                <div class="flex-between" title="<%- post.title %>">
                    <span><%- post.title %></span>
                    <span><%- post.date.format("YYYY/MM/DD") %></span>
                </div>
            </a>
        <% } %>
    </article>

    <% 
        let tags = site.tags.data;
        let len = tags.filter(tag => tag.name === page.tag)[0].length
    %>
    <%- partial('component/paginator', { total: len }) %>
</section>