<%
    var excerpt_link_text = theme.excerpt_link.text,
        excerpt_link_style = theme.excerpt_link.style;
%>
<div class="blog-post">
    <h2 class="blog-post-title">
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title %>
        </a>
    </h2>
    <p class="blog-post-meta">
        <span><%= item.date.format(config.date_format) %></span>
        <span>
            <% if(item.author) { %>
                | <%- item.author %>
            <% } %>
        </span>
    </p>
    <%- item.excerpt || item.content %>
    <% if(item.excerpt) { %>
        <p>
            <a href="<%- config.root %><%- item.path %>" class="<%- excerpt_link_style %>">
                <%= excerpt_link_text %>
            </a>
        </p>
    <% } %>
</div>
