<% if(item.top == true) { %>
<div class="sidebar-top-part">
    <div>
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title %>
        </a>
    </div>
    <div>
        <% if (item.tags && item.tags.length){ %>
        <%
            var t = [];
            item.tags.forEach(function(tag){
                t.push(tag.name);
            });
        %>
            <% t.forEach(function(i){ %>
                <span class="badge badge-pill badge-primary"><%- i %></span>
            <% }) %>
        <% } %>
    </div>
    <div>
        <%= item.date.format(config.date_format) %>
    </div>
</div>
<% } %>

