<div class="blog-post">
    <!-- 文章标题导航栏 -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
            <span class="toast-color"></span>
            <strong class="mr-auto"><%- item.title || item.link %></strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <%- toc(item.content,{max_depth: 3}) %>
        </div>
    </div>
    <!-- Title -->
    <h2 class="blog-post-title">
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title || item.link %>
        </a>
        <span id="toc" data-toggle="tooltip" data-placement="right" title="显示目录导航">
            <svg id="icon" aria-hidden="true">
                <use xlink:href="#icon-caidan"></use>
            </svg>
        </span>
    </h2>
    <p class="blog-post-meta">
        <span><%= item.date.format(config.date_format) %></span>
        <span>
            <% if(item.author) { %>
                | <%- item.author %>
            <% } %>
        </span>
        <span class="post-count"><%= wordcount(item.content) %>字</span>
        <span class="post-count"><%= min2read(item.content) %>分钟</span>
    
    <% if(item.original) { %>
        <span class="origin" data-toggle="tooltip" data-placement="bottom" title="搬运请注明出处">原创</span>
    <% } else { %>
        <span class="not-origin">搬运</span>
    <% } %>

    </p>
    <!-- Content -->
    <%- item.content %>
    <hr />
    <!-- Tags and Categories links -->
    <div class="blog-tag-and-cate">
        <%- partial('article-tags', {item: item}) %>
        <%- partial('article-categories', {item: item}) %>
    </div>
    <div class="alert alert-danger" style="margin: 15px 5px;">本博客所有文章均采用 CC BY-SA 4.0 协议 ，转载请注明出处。</div>

    <div class="blog-post-change">
        <div class="blog-post-pre">
            <% if (item.prev){ %>
                <span class="blog-post-pre-icon">&#60;</span>
                <a href="<%- url_for(item.prev.path) %>"> <%- item.prev.title %></a>
            <% } %>
        </div>
        <div class="blog-post-next">
            <% if (item.next){ %>
                <a href="<%- url_for(item.next.path) %>"> <%- item.next.title %></a>
                <span class="blog-post-next-icon">&#62;</span>
            <% } %>
        </div>
    </div>
    <hr>
</div>
