<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="<%- config.root %>/favicon/logo2.ico">

    <title>delicate</title>
    <%- css('css/blog.css') %>
    <!-- Bootstrap core CSS -->
    <%- css('bootstrap/css/bootstrap.min.css') %>

    <%# fancybox %>
    <% if(theme.fancybox.enable){ %>
        <link href="https://cdn.bootcdn.net/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <% } %>

    <!-- Custom styles for this template -->
    <%- css('css/floatbar.css') %>
    <%- css('css/archive.css') %>
    <%- css('css/comments.css') %>
    <%- css('css/markdown.css') %>
    <%- css('css/plugins.css') %>

    <!-- 默认背景 -->
    <% 
        var headerColor = theme.style.color.header || '#fff',
        headerBorderRadius = theme.style.color.headerBorderRadius || 0,
        headerBoxShadow = theme.style.color.headerBoxShadow || 'none',
        bodyColor = theme.style.color.body || '#fafafa',
        postColor = theme.style.color.post || '#fff',
        postBoxShadow = theme.style.color.postBoxShadow || 'none',
        menuColor = theme.style.color.menu || '#fff',
        menuBoxShadow = theme.style.color.menuBoxShadow || 'none',
        scolor = theme.style.siderbar.color || '#aaa',
        hscolor = theme.style.siderbar.hoverColor || 'teal';
    %>
    <style>
        body {
            background-color: <%= bodyColor %>;
        }
        /* blog menu */
        nav.navbar {
            -webkit-box-shadow: <%= menuBoxShadow %>;
            box-shadow: <%= menuBoxShadow %>;
            background-color: <%= menuColor %>;
        }
        .blog-header {
            background-color: <%= headerColor %>;
            border-radius: <%= headerBorderRadius %>;
            box-shadow: <%= headerBoxShadow %>;
        }
        .blog-post {
            background-color: <%= postColor %>;
            box-shadow: <%= postBoxShadow %>;
        }
        .sidebar-about .my-social-account .icon-box a svg{
            fill: <%= scolor %>;
        }
        .sidebar-about .my-social-account .icon-box a:hover svg{
            fill: <%= hscolor %>;
        }
    </style>
    <!-- 背景 -->
    <% if(theme.backgroundStyle == 'meditation') { %>
        <%- css('css/meditation.css') %>
    <% } else if(theme.backgroundStyle == 'point'){ %>
        <style>
            body {
                background: radial-gradient(rgb(80, 153, 153,.3) 20%, #fff 40%) repeat;
                background-size: 12px 12px;
            }
        </style>
    <% } else if(theme.backgroundStyle == 'line'){ %>
        <style>
            body {
                background-image: url('<%- config.root %>/img/line.png');
            }
        </style>
    <% } else if(theme.backgroundStyle == 'line2'){ %>
        <style>
            body {
                background-image: url('<%- config.root %>/img/line2.png');
                background-size: 25px;
            }
        </style>
    <% } %>
    <style type="text/css">
        .icon {
            width: 1.6em; height: 1.6em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
        @font-face{
            font-family: 'PTSans';
            src: url('<%- config.root %>font/PT_Sans-Web-Regular.ttf'); 
        }
    </style>
<% if (theme.gittalk && theme.gittalk.enable){ %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<% } %>

</head>
