<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%- config.root %>/favicon/logo2.ico">

    <title>delicate</title>
    <!-- Bootstrap core CSS -->
    <%- css('bootstrap/css/bootstrap.min.css') %>

    <!-- Custom styles for this template -->
    <%- css('css/blog.css') %>
    <%- css('css/floatbar.css') %>
    <%- css('css/archive.css') %>
    <%- css('css/comments.css') %>
    <%- css('css/markdown.css') %>

    <!-- 默认背景 -->
    <% if(theme.background.default == 'meditation') { %>
        <%- css('css/meditation.css') %>
    <% } else if(theme.background.default == 'point'){ %>
        <style>
            body {
                background: radial-gradient(rgb(80, 153, 153,.3) 20%, #fff 40%) repeat;
                background-size: 12px 12px;
            }
        </style>
    <% } else if(theme.background.default == 'line'){ %>
        <style>
            body {
                background-image: url('<%- config.root %>/img/line.png');
            }
        </style>
    <% } else if(theme.background.default == 'line2'){ %>
        <style>
            body {
                background-image: url('<%- config.root %>/img/line2.png');
                background-size: 25px;
            }
        </style>
    <% } %>
    <style type="text/css">
        .icon {
            width: 1.6em; height: 1.6em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
<% if (theme.gittalk && theme.gittalk.enable){ %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<% } %>

</head>
