
<div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>


<div class="sidebar-about">
    <div class="my-img">
        <div><img src="favicon/logo2-128.ico" alt="Fluid-img"></div>
        <span class="name"><%- (theme.siderbar.name) %></span>
    </div>
    <div class="my-logo"><%- (theme.siderbar.logo) %></div>
    <div class="my-tag">
        <% theme.siderbar.tag.forEach(function(item){%>
            <span><%= item %></span>
        <% }) %>
    </div>
    <div class="my-division">
        <span class="division"></span>
        <span class="text">社交账号</span>
    </div>
    <div class="my-social-account">
    <% if(theme.siderbar.social.bilibili) { %>
        <div class="icon-box">
            <a href="<%- theme.siderbar.social.bilibili %>">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-bilibili-line"></use>
                </svg>
            </a>
            <span>bilibili</span>
        </div>
    <% } %>
    <% if(theme.siderbar.social.github) { %>
        <div class="icon-box">
            <a href="<%- theme.siderbar.social.github %>">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-github"></use>
                </svg>
            </a>
            <span>Github</span>
        </div>
    <% } %>
    <% if(theme.siderbar.social.twitter) { %>
        <div class="icon-box">
            <a href="<%- theme.siderbar.social.twitter %>">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-tuite"></use>
                </svg>
            </a>
            <span>twitter</span>
        </div>
    <% } %>
    <% if(theme.siderbar.social.CSDN) { %>
        <div class="icon-box">
            <a href="<%- theme.siderbar.social.CSDN %>">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-csdn1"></use>
                </svg>
            </a>
            <span>CSDN</span>
        </div>
    <% } %>
    <% if(theme.siderbar.social.codepen) { %>
        <div class="icon-box">
            <a href="<%- theme.siderbar.social.codepen %>">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-codepen"></use>
                </svg>
            </a>
            <span>CodePen</span>
        </div>
    <% } %>
    </div>
</div>


<div class="sidebar-to-top" id="sidebar-to-top">
    <a href="#" id="to_top">&#128285;</a>
</div>