<%# 小组件 %>
<% if(theme.widget.top.enable){ %>
<div class="<%- theme.widget.top.topStyle %> shadow-sm sidebar-top">
    <h3><%= __('asider.top') %></h3>
    <% site.posts.each(function(item){ %>
        <%- partial('_partial/article-sidebar', {item: item}) %>
    <% }); %>
</div>
<% } %>
<%# 诗词 %>
<% if(theme.widget.poem){ %>
    <%- partial('widget/poem') %>
<% } %>
<%# 实时天气 %>
<% if(theme.widget.weather.enable){ %>
    <%- partial('widget/weather') %>
<% } %>
<%# music %>
<% if(theme.widget.music.enable){ %>
    <%- partial('widget/music') %>
<% } %>
<%# carousel %>
<% if(theme.widget.carousel.enable){ %>
    <%- partial('widget/carousel') %>
<% } %>

<div class="shadow-sm sidebar-about">
    <div class="my-img">
        <div><img src="<%- config.root %>favicon/logo2-128.ico" alt="Fluid-img"></div>
        <span class="name"><%- (theme.siderbar.name) %></span>
    </div>
    <div class="my-logo"><%- (theme.siderbar.logo) %></div>
    <div class="my-tag">
        <% theme.siderbar.tag.forEach(function(item){%>
            <span><%= item %></span>
        <% }) %>
    </div>
    <div class="my-division">
        <span class="division"></span>
        <span class="text"><%= __('asider.socialAccount') %></span>
    </div>
    <div class="my-social-account">
        <%- partial('_partial/social-account') %>
    </div>
</div>
<div id="sidebar-to-top">
    <a href="#" id="to_top">
        ^
    </a>
</div>