<% if(theme.siderbar.social.bilibili) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="bilibili">
        <a href="<%- theme.siderbar.social.bilibili %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M306.005333 117.632L444.330667 256h135.296l138.368-138.325333a42.666667 42.666667 0 0 1 60.373333 60.373333L700.330667 256H789.333333A149.333333 149.333333 0 0 1 938.666667 405.333333v341.333334a149.333333 149.333333 0 0 1-149.333334 149.333333h-554.666666A149.333333 149.333333 0 0 1 85.333333 746.666667v-341.333334A149.333333 149.333333 0 0 1 234.666667 256h88.96L245.632 177.962667a42.666667 42.666667 0 0 1 60.373333-60.373334zM789.333333 341.333333h-554.666666a64 64 0 0 0-63.701334 57.856L170.666667 405.333333v341.333334a64 64 0 0 0 57.856 63.701333L234.666667 810.666667h554.666666a64 64 0 0 0 63.701334-57.856L853.333333 746.666667v-341.333334A64 64 0 0 0 789.333333 341.333333zM341.333333 469.333333a42.666667 42.666667 0 0 1 42.666667 42.666667v85.333333a42.666667 42.666667 0 0 1-85.333333 0v-85.333333a42.666667 42.666667 0 0 1 42.666666-42.666667z m341.333334 0a42.666667 42.666667 0 0 1 42.666666 42.666667v85.333333a42.666667 42.666667 0 0 1-85.333333 0v-85.333333a42.666667 42.666667 0 0 1 42.666667-42.666667z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.github) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="Github">
        <a href="<%- theme.siderbar.social.github %>">
            <svg viewBox="0 0 1024 1024"  xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M64 512c0 195.2 124.8 361.6 300.8 422.4 22.4 6.4 19.2-9.6 19.2-22.4v-76.8c-134.4 16-140.8-73.6-150.4-89.6-19.2-32-60.8-38.4-48-54.4 32-16 64 3.2 99.2 57.6 25.6 38.4 76.8 32 105.6 25.6 6.4-22.4 19.2-44.8 35.2-60.8-144-22.4-201.6-108.8-201.6-211.2 0-48 16-96 48-131.2-22.4-60.8 0-115.2 3.2-121.6 57.6-6.4 118.4 41.6 124.8 44.8 32-9.6 70.4-12.8 112-12.8 41.6 0 80 6.4 112 12.8 12.8-9.6 67.2-48 121.6-44.8 3.2 6.4 25.6 57.6 6.4 118.4 32 38.4 48 83.2 48 131.2 0 102.4-57.6 188.8-201.6 214.4 22.4 22.4 38.4 54.4 38.4 92.8v112c0 9.6 0 19.2 16 19.2C832 876.8 960 710.4 960 512c0-246.4-201.6-448-448-448S64 265.6 64 512z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.twitter) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="twitter">
        <a href="<%- theme.siderbar.social.twitter %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M512 0C228.430769 0 0 228.430769 0 512s228.430769 512 512 512 512-228.430769 512-512S795.569231 0 512 0z m248.123077 366.276923c-3.938462 3.938462-3.938462 7.876923-7.876923 7.876923-7.876923 7.876923-15.753846 11.815385-23.630769 15.753846-3.938462 0-3.938462 3.938462-3.938462 7.876923 3.938462 43.323077-3.938462 86.646154-19.692308 129.969231-27.569231 74.830769-86.646154 133.907692-157.538461 169.353846-59.076923 35.446154-129.969231 47.261538-192.984616 31.507693-31.507692-3.938462-59.076923-15.753846-82.707692-31.507693l-3.938461-3.938461c0-3.938462 3.938462-7.876923 7.876923-7.876923 19.692308 0 39.384615-3.938462 59.076923-11.815385 19.692308-7.876923 39.384615-19.692308 55.138461-31.507692l3.938462-3.938462c0-3.938462 0-7.876923-3.938462-7.876923-15.753846-3.938462-27.569231-11.815385-39.384615-19.692308-15.753846-7.876923-27.569231-23.630769-35.446154-39.384615v-3.938461c0-3.938462 3.938462-7.876923 7.876923-7.876924h11.815385c3.938462 0 3.938462 0 3.938461-3.938461 3.938462-3.938462 0-7.876923-3.938461-11.815385-15.753846-7.876923-27.569231-19.692308-39.384616-31.507692-15.753846-15.753846-23.630769-35.446154-23.630769-55.138462v-3.938461c0-3.938462 7.876923-3.938462 7.876923-3.938462 3.938462 0 7.876923 3.938462 11.815385 3.938462h7.876923c3.938462 0 3.938462 0 7.876923-3.938462s3.938462-7.876923 0-11.815384c-15.753846-15.753846-27.569231-35.446154-31.507692-59.076923-3.938462-19.692308 0-43.323077 7.876923-63.015385v-3.938461c-7.876923 3.938462-3.938462 3.938462 0 7.876923 27.569231 27.569231 55.138462 51.2 90.584615 70.892307 39.384615 19.692308 82.707692 31.507692 126.030769 31.507693 3.938462 0 7.876923-3.938462 7.876923-7.876923 0-23.630769 7.876923-102.4 78.769231-122.092308 35.446154-11.815385 78.769231-3.938462 106.338462 27.569231 0 0 3.938462 3.938462 7.876923 3.938461 7.876923 0 15.753846-3.938462 27.569231-3.938461 7.876923-3.938462 15.753846-3.938462 23.630769-7.876923h7.876923c3.938462 0 3.938462 7.876923 3.938461 11.815384-3.938462 7.876923-11.815385 15.753846-19.692307 23.630769l-3.938462 3.938462c-3.938462 0-3.938462 3.938462-3.938461 7.876923s3.938462 7.876923 7.876923 7.876923 7.876923 0 15.753846-3.938461h7.876923c-3.938462-3.938462-3.938462 3.938462-7.876923 3.938461z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.CSDN) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="CSDN">
        <a href="<%- theme.siderbar.social.CSDN %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M512 0c282.784 0 512 229.216 512 512s-229.216 512-512 512S0 794.784 0 512 229.216 0 512 0z m189.952 752l11.2-108.224c-31.904 9.536-100.928 16.128-147.712 16.128-134.464 0-205.728-47.296-195.328-146.304 11.584-110.688 113.152-145.696 232.64-145.696 54.784 0 122.432 8.8 151.296 18.336L768 272.704C724.544 262.24 678.272 256 599.584 256c-203.2 0-388.704 94.88-406.4 263.488C178.336 660.96 303.584 768 535.616 768c80.672 0 138.464-6.432 166.336-16z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.codepen) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="CodePen">
        <a href="<%- theme.siderbar.social.codepen %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M911.7 385.3l-0.3-1.5c-0.2-1-0.3-1.9-0.6-2.9-0.2-0.6-0.4-1.1-0.5-1.7-0.3-0.8-0.5-1.7-0.9-2.5-0.2-0.6-0.5-1.1-0.8-1.7-0.4-0.8-0.8-1.5-1.2-2.3-0.3-0.5-0.6-1.1-1-1.6-0.8-1.2-1.7-2.4-2.6-3.6-0.5-0.6-1.1-1.3-1.7-1.9-0.4-0.5-0.9-0.9-1.4-1.3-0.6-0.6-1.3-1.1-1.9-1.6-0.5-0.4-1-0.8-1.6-1.2-0.2-0.1-0.4-0.3-0.6-0.4L531.1 117.8c-11.5-7.7-26.6-7.7-38.1 0L127.3 361.3c-0.2 0.1-0.4 0.3-0.6 0.4-0.5 0.4-1 0.8-1.6 1.2-0.7 0.5-1.3 1.1-1.9 1.6-0.5 0.4-0.9 0.9-1.4 1.3-0.6 0.6-1.2 1.2-1.7 1.9-1 1.1-1.8 2.3-2.6 3.6-0.3 0.5-0.7 1-1 1.6-0.4 0.7-0.8 1.5-1.2 2.3-0.3 0.5-0.5 1.1-0.8 1.7-0.3 0.8-0.6 1.7-0.9 2.5-0.2 0.6-0.4 1.1-0.5 1.7-0.2 0.9-0.4 1.9-0.6 2.9l-0.3 1.5c-0.2 1.5-0.3 3-0.3 4.5v243.5c0 1.5 0.1 3 0.3 4.5l0.3 1.5c0.2 1 0.4 1.9 0.6 2.9 0.2 0.6 0.3 1.1 0.5 1.7 0.3 0.9 0.6 1.7 0.9 2.5 0.2 0.6 0.5 1.1 0.8 1.7 0.4 0.8 0.7 1.5 1.2 2.3 0.3 0.5 0.6 1.1 1 1.6 0.5 0.7 0.9 1.4 1.5 2.1l1.2 1.5c0.5 0.6 1.1 1.3 1.7 1.9 0.4 0.5 0.9 0.9 1.4 1.3 0.6 0.6 1.3 1.1 1.9 1.6 0.5 0.4 1 0.8 1.6 1.2 0.2 0.1 0.4 0.3 0.6 0.4L493 905.7c5.6 3.8 12.3 5.8 19.1 5.8 6.6 0 13.3-1.9 19.1-5.8l365.6-243.5c0.2-0.1 0.4-0.3 0.6-0.4 0.5-0.4 1-0.8 1.6-1.2 0.7-0.5 1.3-1.1 1.9-1.6 0.5-0.4 0.9-0.9 1.4-1.3 0.6-0.6 1.2-1.2 1.7-1.9l1.2-1.5 1.5-2.1c0.3-0.5 0.7-1 1-1.6 0.4-0.8 0.8-1.5 1.2-2.3 0.3-0.5 0.5-1.1 0.8-1.7 0.3-0.8 0.6-1.7 0.9-2.5 0.2-0.5 0.4-1.1 0.5-1.7 0.3-0.9 0.4-1.9 0.6-2.9l0.3-1.5c0.2-1.5 0.3-3 0.3-4.5V389.8c-0.3-1.5-0.4-3-0.6-4.5zM546.4 210.5l269.4 179.4-120.3 80.4-149-99.6V210.5z m-68.8 0v160.2l-149 99.6-120.3-80.4 269.3-179.4zM180.7 454.1l86 57.5-86 57.5v-115z m296.9 358.5L208.3 633.2l120.3-80.4 149 99.6v160.2zM512 592.8l-121.6-81.2L512 430.3l121.6 81.2L512 592.8z m34.4 219.8V652.4l149-99.6 120.3 80.4-269.3 179.4zM843.3 569l-86-57.5 86-57.5v115z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.google) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="Google">
        <a href="<%- theme.siderbar.social.google %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M512 0C228.430769 0 0 228.430769 0 512s228.430769 512 512 512 512-228.430769 512-512S795.569231 0 512 0z m196.923077 701.046154c-47.261538 51.2-114.215385 78.769231-185.107692 74.830769h-7.876923c-145.723077 0-263.876923-122.092308-259.938462-267.815385 0-145.723077 122.092308-263.876923 267.815385-259.938461 66.953846 0 133.907692 23.630769 181.16923 74.830769l-51.2 51.2c-35.446154-35.446154-82.707692-51.2-129.96923-51.2-106.338462 0-192.984615 86.646154-192.984616 192.984616s86.646154 192.984615 192.984616 192.984615c51.2 3.938462 98.461538-15.753846 133.907692-51.2 23.630769-23.630769 35.446154-59.076923 39.384615-90.584615h-173.292307v-70.892308h244.184615c3.938462 15.753846 3.938462 31.507692 3.938462 43.323077 0 55.138462-23.630769 118.153846-63.015385 161.476923z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.facebook) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="facebook">
        <a href="<%- theme.siderbar.social.facebook %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32z m-92.4 233.5h-63.9c-50.1 0-59.8 23.8-59.8 58.8v77.1h119.6l-15.6 120.7h-104V912H539.2V602.2H434.9V481.4h104.3v-89c0-103.3 63.1-159.6 155.3-159.6 44.2 0 82.1 3.3 93.2 4.8v107.9z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.stackoverflow) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="stackoverflow">
        <a href="<%- theme.siderbar.social.stackoverflow %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M811.2 932.8h-640V659.2H80V1024h820.8V659.2h-89.6zM599.488 54.432L672.736 0.096l271.68 366.208-73.248 54.336zM445.68 216.336L504 146.24l350.608 291.568-58.304 70.112z" p-id="3526"></path><path d="M262.4 750.4h456v91.2H262.4zM782.4 529.6L369.6 336l-40 83.2 414.4 193.6zM737.6 636.8l-446.4-94.4-20.8 89.6 448 94.4z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.linkedin) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="linkedin">
        <a href="<%- theme.siderbar.social.linkedin %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M847.7 112H176.3c-35.5 0-64.3 28.8-64.3 64.3v671.4c0 35.5 28.8 64.3 64.3 64.3h671.4c35.5 0 64.3-28.8 64.3-64.3V176.3c0-35.5-28.8-64.3-64.3-64.3z m0 736c-447.8-0.1-671.7-0.2-671.7-0.3 0.1-447.8 0.2-671.7 0.3-671.7 447.8 0.1 671.7 0.2 671.7 0.3-0.1 447.8-0.2 671.7-0.3 671.7z" p-id="3722"></path><path d="M230.6 411.9h118.7v381.8H230.6zM290 359.7c37.9 0 68.8-30.8 68.8-68.8 0-37.9-30.8-68.8-68.8-68.8s-68.8 30.8-68.8 68.8c-0.1 38 30.7 68.8 68.8 68.8zM542.3 604.8c0-49.8 9.5-98 71.2-98 60.8 0 61.7 56.9 61.7 101.2v185.7h118.6V584.3c0-102.8-22.2-181.9-142.3-181.9-57.7 0-96.4 31.7-112.3 61.7h-1.6v-52.2H423.7v381.8h118.6V604.8z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.instagram) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="instagram">
        <a href="<%- theme.siderbar.social.instagram %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M512 306.9c-113.5 0-205.1 91.6-205.1 205.1S398.5 717.1 512 717.1 717.1 625.5 717.1 512 625.5 306.9 512 306.9z m0 338.4c-73.4 0-133.3-59.9-133.3-133.3S438.6 378.7 512 378.7 645.3 438.6 645.3 512 585.4 645.3 512 645.3zM725.5 250.7c-26.5 0-47.9 21.4-47.9 47.9s21.4 47.9 47.9 47.9 47.9-21.3 47.9-47.9c-0.1-26.6-21.4-47.9-47.9-47.9z" p-id="3964"></path><path d="M911.8 512c0-55.2 0.5-109.9-2.6-165-3.1-64-17.7-120.8-64.5-167.6-46.9-46.9-103.6-61.4-167.6-64.5-55.2-3.1-109.9-2.6-165-2.6-55.2 0-109.9-0.5-165 2.6-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-0.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6 46.9 46.9 103.6 61.4 167.6 64.5 55.2 3.1 109.9 2.6 165 2.6 55.2 0 109.9 0.5 165-2.6 64-3.1 120.8-17.7 167.6-64.5 46.9-46.9 61.4-103.6 64.5-167.6 3.2-55.1 2.6-109.8 2.6-165z m-88 235.8c-7.3 18.2-16.1 31.8-30.2 45.8-14.1 14.1-27.6 22.9-45.8 30.2C695.2 844.7 570.3 840 512 840c-58.3 0-183.3 4.7-235.9-16.1-18.2-7.3-31.8-16.1-45.8-30.2-14.1-14.1-22.9-27.6-30.2-45.8C179.3 695.2 184 570.3 184 512c0-58.3-4.7-183.3 16.1-235.9 7.3-18.2 16.1-31.8 30.2-45.8s27.6-22.9 45.8-30.2C328.7 179.3 453.7 184 512 184s183.3-4.7 235.9 16.1c18.2 7.3 31.8 16.1 45.8 30.2 14.1 14.1 22.9 27.6 30.2 45.8C844.7 328.7 840 453.7 840 512c0 58.3 4.7 183.2-16.2 235.8z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.gitlab) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="gitlab">
        <a href="<%- theme.siderbar.social.gitlab %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M59.428571 403.428571l452.571429 580-496-360q-10.285714-7.428571-14.285714-19.714285t0-24.285715l57.714285-176z m264 0h377.142858L512 983.428571zM210.285714 53.714286l113.142857 349.714285H59.428571L172.571429 53.714286q4.571429-13.142857 18.857142-13.142857t18.857143 13.142857z m754.285715 349.714285l57.714285 176q4 12 0 24.285715t-14.285714 19.714285l-496 360 452.571429-580z m0 0h-264l113.142857-349.714285q4.571429-13.142857 18.857143-13.142857t18.857142 13.142857z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.贴吧) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="贴吧">
        <a href="<%- theme.siderbar.social.贴吧 %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M286.208 339.648" p-id="4401"></path><path d="M593.984 560.064l0 118.784c0 3.712 1.856 5.568 5.568 5.568l68.672 0c9.28 0 18.56-7.424 18.56-18.56L686.784 560.064c0-3.712-1.856-5.568-5.568-5.568L599.552 554.496C595.84 554.496 593.984 556.352 593.984 560.064z" p-id="4402"></path><path d="M529.024 84.416c-244.224 0-442.176 197.952-442.176 442.176s197.952 442.176 442.176 442.176 442.176-197.952 442.176-442.176S773.248 84.416 529.024 84.416zM519.744 708.48c0 5.568-5.568 9.28-11.136 9.28-11.136 0-27.84-3.712-44.544-14.848-31.552-18.56-37.12-35.264-37.12-35.264s-5.568 18.56-35.264 37.12c-12.992 9.28-33.408 12.992-46.4 14.848-5.568 0-11.136-3.712-11.136-9.28l0-18.56c0-3.712 3.712-7.424 7.424-7.424 7.424-1.856 22.272-7.424 37.12-16.704 25.984-20.416 25.984-57.536 25.984-57.536l1.856-194.816c0-5.568 3.712-9.28 9.28-9.28l18.56 0c5.568 0 9.28 3.712 9.28 9.28l0 194.816c0 0-1.856 27.84 33.408 55.68 16.704 11.136 27.84 16.704 35.264 18.56 3.712 1.856 7.424 3.712 7.424 5.568L519.744 708.48zM519.744 619.456c0 5.568-3.712 9.28-9.28 9.28l-18.56 0c-5.568 0-9.28-3.712-9.28-9.28L482.624 376.32c0-3.712-3.712-7.424-7.424-7.424L378.752 368.896c-3.712 0-7.424 3.712-7.424 7.424l0 243.072c0 5.568-3.712 9.28-9.28 9.28l-18.56 0c-5.568 0-9.28-3.712-9.28-9.28L334.208 387.456c0-31.552 24.128-55.68 55.68-55.68l111.36 0c11.136 0 18.56 9.28 18.56 18.56L519.808 619.456zM723.904 415.296c0 5.568-3.712 9.28-9.28 9.28L631.104 424.576l0 92.8 83.52 0c5.568 0 9.28 3.712 9.28 9.28l0 139.2c0 29.696-24.128 55.68-55.68 55.68L566.144 721.536c-5.568 0-9.28-3.712-9.28-9.28L556.864 526.656c0-5.568 3.712-9.28 9.28-9.28l27.84 0L593.984 341.12c0-5.568 3.712-9.28 9.28-9.28l18.56 0c5.568 0 9.28 3.712 9.28 9.28l0 46.4 83.52 0c5.568 0 9.28 3.712 9.28 9.28L723.904 415.296z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.知乎) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="知乎">
        <a href="<%- theme.siderbar.social.知乎 %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M576.8 807.52h57.28l20.8 72.48 100.8-72.48h141.92V229.28H576.8z m67.84-513.92H832v448h-66.24l-85.12 64.96-18.56-64.96h-17.44zM126.4 884.48a149.44 149.44 0 0 0 123.84-10.4c60.96-36 105.92-194.56 105.92-194.56l144 177.44s13.12-84.48-2.24-108.32-99.04-119.84-99.04-119.84l-36.64 32 26.08-104.96H544s0-61.76-30.56-65.28-125.44 0-125.44 0v-192H528s-1.6-64-28.8-64H270.56l35.52-104.64s-57.6 3.36-77.92 39.36-86.4 221.6-86.4 221.6 21.92 10.24 59.2-17.28a147.68 147.68 0 0 0 49.28-75.52l67.84-3.36L320 491.2s-116.96-1.76-140.64 0-37.28 65.28-37.28 65.28H320s-15.2 108.16-60.96 187.2-132.64 140.8-132.64 140.8z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.微博) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="微博">
        <a href="<%- theme.siderbar.social.微博 %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M394.296 192q-76.428 0-141.16 31.976-64.731 31.196-102.946 87.348t-38.215 120.883q0 112.304 113.083 191.073-9.359 28.076-28.076 85.008 24.177-12.478 98.266-49.913 70.97 14.038 99.046 14.037 9.359 0 26.516-0.78-8.579-29.636-8.579-59.272 0-92.806 69.41-158.318 70.19-65.511 170.796-65.511 15.597 0 27.296 2.34-18.717-85.788-99.826-141.94-81.109-56.932-185.614-56.932zM299.149 383.073q-14.037 0-24.177-10.918-10.139-10.139-10.139-24.177 0-14.818 10.139-24.957 10.139-10.139 24.177-10.139 14.818 0 24.957 10.139 10.139 10.139 10.139 24.957 0 14.037-10.139 24.177-10.139 10.918-24.957 10.918zM498.021 383.073q-14.037 0-24.177-10.918-10.139-10.139-10.139-24.177 0-14.818 10.139-24.957 10.139-10.139 24.177-10.139 14.818 0 24.957 10.139 10.139 10.139 10.139 24.957 0 14.037-10.139 24.177-10.139 10.918-24.957 10.918zM910.584 609.242q0-55.372-33.535-102.946-33.535-47.573-88.908-74.871-54.592-27.296-117.764-27.296-99.827 0-170.016 60.052-70.19 60.052-70.19 145.060 0 85.008 70.19 145.060 70.19 60.052 170.016 60.052 28.076 0 85.008-14.038 25.736 14.037 77.989 42.115-5.459-17.938-21.057-70.19 98.266-74.871 98.266-162.997zM596.289 573.367q-11.698 0-19.497-7.799-8.579-8.579-8.579-20.277 0-11.698 8.579-20.277 7.799-7.799 19.497-7.799 11.698 0 19.497 7.799 8.579 8.579 8.579 20.277 0 11.698-8.579 20.277t-19.497 7.799zM749.926 573.367q-11.698 0-20.277-7.799-8.579-8.579-8.579-20.277 0-11.698 8.579-20.277 8.579-7.799 19.497-7.799 11.698 0 20.277 7.799 8.579 8.579 8.579 20.277 0 11.698-7.799 20.277-8.579 7.799-20.277 7.799z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.博客园) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="博客园">
        <a href="<%- theme.siderbar.social.博客园 %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M851.40363594 172.59636406c-187.46181844-187.46181844-491.34545437-187.46181844-678.80727188 0-187.46181844 187.46181844-187.46181844 491.34545437 0 678.80727188 187.46181844 187.46181844 491.34545437 187.46181844 678.80727188 0 187.46181844-187.46181844 187.46181844-491.34545437 0-678.80727188zM387.33090875 728.08727281a47.08363594 47.08363594 0 1 1-66.63272719-66.50181843 47.08363594 47.08363594 0 0 1 66.63272719 66.50181843z m205.52727281 1.39636313a38.74909125 38.74909125 0 0 1-76.62545437-11.52h-0.04363594a6.54545437 6.54545437 0 0 0-0.04363688 0.30545531v-0.34909125c0.30545438-2.61818156 2.05090875-20.72727281-2.96727281-44.98909125a174.24 174.24 0 0 0-48.56727281-89.28 172.10181844 172.10181844 0 0 0-88.8-48.30545438 156.69818156 156.69818156 0 0 0-42.45818156-2.92363593 38.66181844 38.66181844 0 0 1-35.38909125-65.32363688 38.61818156 38.61818156 0 0 1 21.12-10.8218175v-0.2181825c4.45090875-0.74181844 111.14181844-16.45090875 200.33454562 72.74181844 89.01818156 89.01818156 74.18181844 196.14545438 73.44 200.72727281z m175.2 7.59272812a38.74909125 38.74909125 0 0 1-65.67272719 21.3818175 39.49090875 39.49090875 0 0 1-11.65090875-33.73090875c0.08727281-0.34909125 5.10545437-37.48363594-5.06181843-88.97454562-13.30909125-67.37454562-45.29454563-126.89454563-94.95272719-176.90181844-50.00727281-49.70181844-109.52727281-81.64363594-176.94545438-94.95272719-51.49090875-10.16727281-88.58181844-5.19272719-89.01818156-5.14909031h0.21818156-0.04363687a39.92727281 39.92727281 0 0 1-44.68363594-32.90181844 38.83636406 38.83636406 0 0 1 32.20363594-44.37818156c1.92-0.30545438 47.86909125-7.33090875 111.27272719 4.36363594a411.75272719 411.75272719 0 0 1 106.25454562 34.95272718 425.76 425.76 0 0 1 114.63272719 82.25454563l0.91636406 0.96 0.96 0.87272719a425.89090875 425.89090875 0 0 1 82.25454563 114.72c16.40727281 33.6 28.14545437 69.29454562 34.99636312 106.21090875 11.65090875 63.40363594 4.66909125 109.35272719 4.32 111.27272812z"></path>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.掘金) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="掘金">
        <a href="<%- theme.siderbar.social.掘金 %>">
            <svg viewBox="0 0 1212 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M600.737684 204.341895L512.458105 134.736842l-92.213894 72.730947-4.796632 3.853474 97.010526 77.338948 97.333895-77.338948-9.054316-6.979368z m334.551579 269.958737l-423.073684 333.608421-422.804211-333.41979L26.947368 524.665263l485.268211 382.625684 485.537684-382.841263-62.464-50.149052z m-423.073684 27.055157l-230.238316-181.517473-62.437052 50.149052 292.648421 230.777264 292.944842-230.992843-62.437053-50.149052-230.480842 181.733052z"></path>
            </svg>
        </a>
    </div>
<% } %>

<% if(theme.siderbar.social.dingding) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="钉钉">
        <a href="<%- theme.siderbar.social.dingding %>">
            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="22" height="22">
              <path d="M912.896 382.805333a184.917333 184.917333 0 0 1-12.288 31.701334h0.085333l-0.682666 1.194666c-35.84 76.714667-129.194667 226.986667-129.194667 226.986667s-0.128-0.426667-0.512-0.853333l-27.306667 47.573333h131.498667L623.402667 1024l57.002666-227.584H576.853333l36.010667-150.528c-29.098667 6.997333-63.488 16.725333-104.192 29.824 0 0-55.125333 32.298667-158.72-62.208 0 0-69.888-61.696-29.397333-77.098667 17.194667-6.613333 83.712-14.933333 136.021333-21.888 70.570667-9.6 114.090667-14.634667 114.090667-14.634666s-217.813333 3.328-269.525334-4.864c-51.669333-8.106667-117.205333-94.506667-131.2-170.410667 0 0-21.589333-41.728 46.421334-21.888 68.010667 19.797333 349.610667 76.672 349.610666 76.672S199.808 266.88 175.36 239.488c-24.405333-27.392-71.68-149.76-65.621333-224.853333 0 0 2.730667-18.773333 21.930666-13.738667 0 0 270.805333 123.904 455.893334 191.701333 185.088 67.84 346.112 102.314667 325.290666 190.208z"></path>
            </svg>
        </a>
    </div>
<% } %>
