<% if(theme.siderbar.social.bilibili) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="bilibili">
        <a href="<%- theme.siderbar.social.bilibili %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-bilibili-line"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.github) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="Github">
        <a href="<%- theme.siderbar.social.github %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-github"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.twitter) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="twitter">
        <a href="<%- theme.siderbar.social.twitter %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-tuite"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.CSDN) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="CSDN">
        <a href="<%- theme.siderbar.social.CSDN %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-csdn1"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.codepen) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="CodePen">
        <a href="<%- theme.siderbar.social.codepen %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-codepen"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.google) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="Google">
        <a href="<%- theme.siderbar.social.google %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-google"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.facebook) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="facebook">
        <a href="<%- theme.siderbar.social.facebook %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-facebookfacebook52"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.stackoverflow) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="stackoverflow">
        <a href="<%- theme.siderbar.social.stackoverflow %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-stackoverflow"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.linkedin) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="linkedin">
        <a href="<%- theme.siderbar.social.linkedin %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-linkedin"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.instagram) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="instagram">
        <a href="<%- theme.siderbar.social.instagram %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-instagram"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.gitlab) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="gitlab">
        <a href="<%- theme.siderbar.social.gitlab %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-gitlab"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.贴吧) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="贴吧">
        <a href="<%- theme.siderbar.social.贴吧 %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-tieba"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.知乎) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="知乎">
        <a href="<%- theme.siderbar.social.知乎 %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-shejiaotubiao-10"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.微博) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="微博">
        <a href="<%- theme.siderbar.social.微博 %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-weibo"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.博客园) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="博客园">
        <a href="<%- theme.siderbar.social.博客园 %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-cnblogs"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.掘金) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="掘金">
        <a href="<%- theme.siderbar.social.掘金 %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-juejin1"></use>
            </svg>
        </a>
    </div>
<% } %>

<% if(theme.siderbar.social.dingding) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="钉钉">
        <a href="<%- theme.siderbar.social.dingding %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-dingding"></use>
            </svg>
        </a>
    </div>
<% } %>
<% if(theme.siderbar.social.slack) { %>
    <div class="icon-box" data-toggle="tooltip" data-placement="bottom" title="slack">
        <a href="<%- theme.siderbar.social.slack %>">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-slack"></use>
            </svg>
        </a>
    </div>
<% } %>