<div id="<%- url_for(item.path) %>" class="leancloud_visitors" data-flag-title="Your Article Title">
    <span class="post-meta-item-text">阅读量 </span>
    <i class="leancloud-visitors-count">---</i>
</div>
<hr>
<div class="comment-head">评论：</div>
<div id="comment-body"></div>

<script src="https://unpkg.com/valine@1.4.16/dist/Valine.min.js"></script>
<script>
    new Valine({
        el: '#comment-body',
        appId: '<%- theme.valine.id %>',
        appKey: '<%- theme.valine.key %>',
        placeholder: "<%- theme.valine.placeholder %>",
        pageSize: 5,
        lang: "<%- theme.valine.lang %>",
        visitor: true, // 阅读量统计
    })
</script>